{
    "nick": "teddy",
    "networks": {
        "test": {
            "host": "irc.test.com",
            "port": 6697,
            "ssl": true,
            "channels": {
                "test1":    {
                    "name": "#test1",
                    "key": "key1"
                },
                "test2":    {
                    "name": "#test2",
                    "key": "key2"
                }
            }
        }
    }
}
